.input {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 30%;
    margin: 10px auto;
    gap: 5px;
}

.input label {
    width: max-content;
    font-size: 14px;
    font-weight: bold;
}

.errorlabel{
    color:red
}
.errorinput{
    background-color: #faa;
    border: 1px solid #f55;
}

.input input {
    width: 90%;
    resize: none;
    border: none;
    box-shadow: 0 0 3px 1px #777;
    padding: 10px 15px;
    border-radius: 10px;
}