.textarea{
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 30%;
    margin: 10px auto;
    gap: 5px;
}
.textarea textarea{
    width: 90%;
    height:30vh ;
    resize: none;
    border: none;
    box-shadow: 0 0 3px 1px #777;
    padding: 10px 15px ;
    border-radius: 10px;
}
.textarea label{
    width: max-content;
    font-size: 14px;
    font-weight: bold;
}