.form{
    margin-top: 80px;
}
.errors{
    position: fixed;
    width: max-content;
    top: 10px;
    left: 35%;
    box-shadow: 0 10px 15px #333;
    background:linear-gradient(to top,#f97,#faa,#f97);
    border-radius: 20px;
    padding: 5px 7px;
    text-align: left;
}
.errors p{
    padding: 0;
    margin: 3px;
    color: #220909;
    font-size: 12px;
    font-weight: bold;
}